@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    background-color: white;
    color: black;
    font-family: 'Lora', serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

div {
    background-color: #7BAFD4;
    color: white;
    font-size: 32px;
    padding: 5px;
}

nav {
    background-color: #7BAFD4;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
}


.items:hover {
    background-color: #13294B;
    opacity: 0.5;
}



a {
    text-decoration: none;
}

h1,
p,
li {
    text-align: center;
}

#schoolImage {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#caption {
    color: black;
}

#pinpoint {
    margin-top: 14px;
    width: 2%;
}

#name {
    font-size: 300px;
}